<footer class="footer">
  <div class="container">
    <div class="footer-inner">
        <h2 class="footer-title">
          {{ footer.partners }}
        </h2>
        <div class="footer-partners">
          <img class="footer-partners__img footer-partners__img-first footer-partners__img-mr" src="../assets/img/best-change.png" width="240" height="50" alt="Partners : Best-change">
          <img class="footer-partners__img footer-partners__img-second footer-partners__img-mr" src="../assets/img/sepa.png" width="88" height="25" alt="Partners : sepa">
          <img class="footer-partners__img footer-partners__img-third footer-partners__img-mr" src="../assets/img/SWIFT.png" width="30" height="30" alt="Partners : SWIFT">
          <img class="footer-partners__img footer-partners__img-fourth footer-partners__img-mr" src="../assets/img/bitfury.png" width="129" height="25" alt="Partners : bitfury">
          <img class="footer-partners__img footer-partners__img-fifth footer-partners__img-mr" src="../assets/img/Zcash.png" width="56" height="25" alt="Partners : Zcash">
          <img class="footer-partners__img footer-partners__img-sixth footer-partners__img-mr" src="../assets/img/bitcoinmarket.png" width="166" height="25" alt="Partners : bitcoinmarket">
          <img class="footer-partners__img footer-partners__img-seventh footer-partners__img-mr" src="../assets/img/paymetns.png" width="102" height="25" alt="Partners : paymetns">
        </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <p class="footer-copyrights__text">
      © Copyright © <span>2022</span> - All Rights Reserved.
    </p>
  </div>
</footer>
