<header class="header">
  <div class="container">
    {% include "./header-top.njk" ignore missing %}
    <div class="header-bottom">
      <div class="header-bottom__title">
        <h1 class="header-bottom__title-text">
          {{ header['title'][0]['description'] }}
          <span>
                {{ header['title'][1]['text'] }}
              </span>
        </h1>
        <div class="header-bottom__proposition">
          <div class="header-bottom__proposition-one">
            <p class="header-bottom__proposition-text">
              <span>{{ header['proposition'][0]['trade'] }}</span>
                {{ header['proposition'][1]['one'] }}
            </p>
          </div>
          <div class="header-bottom__proposition-two">
            <p class="header-bottom__proposition-text">
              <span>{{ header['proposition'][0]['trade'] }}</span>
              <br/>
              {{ header['proposition'][2]['two'] }}
            </p>
          </div>
          <div class="header-bottom__proposition-three">
            <p class="header-bottom__proposition-text">
              <span>{{ header['proposition'][0]['trade'] }}</span>
              <br/>
              {{ header['proposition'][3]['three'] }}
            </p>
          </div>
        </div>
      </div>
      {% include "./swaper.njk" ignore missing %}
    </div>
  </div>
</header>
