<ul class="header-top__menu-list">
  <li class="header-top__menu-elem hover">
    <a href="index.html" class="header-top__menu-link">Главная</a>
  </li>
  <li class="header-top__menu-elem hover">
    <a href="./contacts.html" class="header-top__menu-link">Контакты</a>
  </li>
  <li class="header-top__menu-elem hover">
    <a href="./rules.html" class="header-top__menu-link">Правила обмена</a>
  </li>
  <li class="header-top__menu-elem hover">
    <a href="./reviews.html" class="header-top__menu-link">Отзывы</a>
  </li>
  <li class="header-top__menu-elem hover">
    <a href="./about.html" class="header-top__menu-link">О нас</a>
  </li>
</ul>
