<div class="swaper">
  <div class="swaper-inner">
    <div class="swaper-top">
      <p class="swaper-top__name">
        {{ swaper.name }}
      </p>
    </div>
    <div class="swaper-trade">
      <img class="swaper-trade__coin" src="../assets/img/trade_swaper.png" width="50" height="50" alt="trade-coin">
      <p class="swaper-trade__text">{{ swaper.start }}</p>
      <div class="swaper-trade__burger-wrap">
        <img class="swaper-trade__burger" src="../assets/img/burger.png" width="18" height="12" alt="swaper burger">
        <img class="swaper-trade__close" src="../assets/img/close.png" alt="swaper burger close">
      </div>
    </div>
    <ul class="swaper-list">
      <li class="swaper-elem active-list">
        {{ swaper["list"][0]["details"] }}
      </li>
      <li class="swaper-elem">
        {{ swaper["list"][1]["deposit"] }}
      </li>
      <li class="swaper-elem">
        {{ swaper["list"][2]["trade"] }}
      </li>
      <li class="swaper-elem">
        {{ swaper["list"][3]["finish"] }}
      </li>
    </ul>
    <div class="swaper-exchange block">
      <div class="swaper-exchange__elem">
        <div class="swaper-exchange__elem-input">
          <label for="in">{{ swaper["exchange"][0]["in"] }}</label>
          <input type="text" id="fiat-in" name="in" placeholder="70"  required/>
        </div>
        <select name="currency" class="vodiapicker">
          <option data-value="../assets/img/tether.png" value="tether">
            {{ swaper["currency"][0]["usdt"] }}
          </option>
          <option data-value="../assets/img/tether.png" value="tether_trc-20">
            {{ swaper["currency"][1]["usdt-1"] }}
          </option>
          <option data-value="../assets/img/tether.png" value="tether_bep-20">
            {{ swaper["currency"][2]["usdt-2"] }}
          </option>
        </select>
        <div class="lang-select">
          <button class="btn-select chevron" id="btn-crypto" data-value="tether" value=""></button>
          <div class="b">
            <ul class="swaper-exchange__select" id="a"></ul>
          </div>
        </div>
      </div>
      <div class="swaper-exchange__elem">
        <div class="swaper-exchange__elem-input">
          <label for="in">{{ swaper["exchange"][1]["out"] }}</label>
          <input type="text" name="in" id="fiat-out" placeholder="" required/>
        </div>
        <select name="crypto" class="master__picker">
          <option data-value="../assets/img/Mastercard.png" value="visa">
            Visa
          </option>
          <option data-value="../assets/img/Mastercard.png" value="eur">
            Visa/Master
            Card EUR
          </option>
          <option data-value="../assets/img/Mastercard.png" value="usd">
            Visa/Master
            Card USD
          </option>
          <option data-value="../assets/img/Mastercard.png" value="rub">
            Visa/Master
            Card RUB
          </option>
          <option data-value="../assets/img/Mastercard.png" value="uah">
            Visa/Master
            Card UAH
          </option>
        </select>
        <div class="swaper-exchange__card-select">
          <button class="swaper-exchange__card-btn chevron" data-value="visa" id="card-btn" value=""></button>
          <div id="wrap" class="swaper-exchange__card-wrap">
            <ul class="swaper-exchange__card-list" id="b"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="swaper-exchange__errors"></div>
    <div class="swaper-deposit  block">
      <div class="swaper-deposit__elem">
        <label class="swaper-deposit__elem-label" for="email">Ваш E-mail ящик</label>
        <input class="swaper-deposit__elem-input" id="deposit-email" type="text" name="email" placeholder="jack@gmail.com">
      </div>
      <div class="swaper-deposit__elem">
        <label class="swaper-deposit__elem-label" for="email">Номер карты</label>
        <input class="swaper-deposit__elem-input" id="deposit-card" type="text" name="card" placeholder="Номер карты получателя">
      </div>
      <div class="swaper-deposit__elem">
        <label class="swaper-deposit__elem-label" for="email">Ф.И.О. получателя</label>
        <input class="swaper-deposit__elem-input" id="deposit-name" type="text" name="name" placeholder="Ф.И.О. владельца карты, полностью">
      </div>
      <div class="swaper-deposit__elem">
        <label class="swaper-deposit__elem-label" for="email">Срок действия карты</label>
        <input class="swaper-deposit__elem-input"  id="deposit-date" type="text" name="date" placeholder="Например: 01/2022">
      </div>
    </div>
    <div class="swaper-waiting  block">
      <div class="swaper-waiting__top">
        <span class="swaper-waiting__top-trade">Обмен USDT TRC20 на Visa/MasterCard EUR</span>
        <p class="swaper-waiting__top-text">Send amount 95 USDT on TRC20: TFHi9StMrntGNsNoMc9zCFq2xeTUXLmPXy</p>
      </div>
      <a class="swaper-waiting__bottom" href="#">
        <p class="swaper-waiting__bottom-text">Посмотрите наши <span>12</span> отзывов</p>
      </a>
    </div>
    <div class="swaper-result block">
      <div class="swaper-result__finished">
          <span class="swaper-result__finished-text">
           Платёж в обработке
          </span>
        <img class="swaper-result__finished-img" src="../assets/img/finished.png" alt="img : your trade was finished">
      </div>
      <div>
        <div class="swaper-result__details">
            <p class="swaper-result__details-text">
              Детали оплаты
            </p>
            <ul class="swaper-result__details-list">
              <li class="swaper-result__details-elem">
                <p>№ Операции:<span>00000001</span></p>
              </li>
              <li class="swaper-result__details-elem">
                <p>Дата оплаты:<span>14.09.2022</span></p>
              </li>
              <li class="swaper-result__details-elem">
                <p>Сумма:  <span>0,00</span></p>
              </li>
            </ul>
        </div>
      </div>
      <p class="swaper-result__text">Провести ещё один обмен?</p>
      <p class="swaper-waiting__bottom-text">Посмотрите наши <span>12</span> отзывов</p>
    </div>
    <div class="swaper-promo">
      <div class="swaper-promo__visible">
        <div class="swaper-promo__plus">
          <img class="swaper-promo__plus-img" src="../assets/img/plus.png" width="11" height="11" alt="plus">
          <img class="swaper-promo__plus-close" src="../assets/img/promo-close.png" width="11" height="11" alt="plus">
        </div>
        <p class="swaper-promo__visible-text">{{ swaper.promo }}</p>
      </div>
      <div class="swaper-promo__input">
        <input type="text" placeholder="Промо код" name="promo"/>
      </div>
    </div>
    <div class="swaper__available">
      <div class="swaper__available-item">
        <p class="swaper__available__text">{{ swaper["available"][0]["rate"] }}</p>
        <span class="swaper__available-num"></span>
      </div>
      <div class="swaper__available-item">
        <p class="swaper__available__text">{{ swaper["available"][1]["reserved"] }}</p>
        <span class="swaper__available-num" id="reserv"></span>
      </div>
      <div class="swaper__available-item">
        <p class="swaper__available__text">{{ swaper["available"][2]["minimal"] }}</p>
        <span class="swaper__available-num">70 USDT</span>
      </div>
    </div>
    <button class="swaper-btn">
        <span>
          {{ swaper.start }}
        </span>
    </button>
  </div>
</div>


