<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8"/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>
    {{ site.titleContacts }}
  </title>
  {% include "../parts/meta.njk" ignore missing %}
  <link rel="stylesheet" href="assets/css/demo.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body class="{{ bodyClass }}">
<header class="header">
  <div class="container">
    {% include "../parts/header-top.njk" ignore missing %}
    <h1 class="about-title">
        О нас
    </h1>
    <div class="about-inner">
        <div class="about-card about-card__first">
            <div class="about-card__top about-card__top-first">
                <span></span>
                <p>Сколько времени?</p>
            </div>
            <p>
                Е-exchange гарантирует конфиденциальность и защищенность проводимых операций, мы никогда не передаем информацию о пользователях третьим лицам. Надежность нашего сервиса подтверждает множество отзывов довольных клиентов на авторитетных ресурсах.
            </p>
        </div>
        <div class="about-card about-card__second">
            <div class="about-card__top about-card__top-second">
                <span></span>
                <p>Доверие</p>
            </div>
            <p>
                Принцип работы обменника – уважение 
                к пользователю. Поэтому мы предложим вам наиболее выгодный курс обмена USDT на EUR, и проведем обмен максимально быстро и безопасно. 
                А вежливые сотрудники службы технической поддержки ответят на ваши вопросы в любое время, круглосуточно.
            </p>
        </div>
        <div class="about-card about-card__third">
            <div class="about-card__top about-card__top-third">
                <span></span>
                <p>Защита</p>
            </div>
            <p>
                Е-exchange гарантирует конфиденциальность и защищенность проводимых операций, мы никогда не передаем информацию о пользователях третьим лицам. Надежность нашего сервиса подтверждает множество отзывов довольных клиентов на авторитетных ресурсах.
            </p>
        </div>
    </div>
  </div>
</header>
{% include "../parts/footer.njk" ignore missing %}
<script src="./assets/js/burger.js"></script>
</body>
</html>
