<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8"/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>
    {{ site.titleContacts }}
  </title>
  {% include "../parts/meta.njk" ignore missing %}
  <link rel="stylesheet" href="assets/css/demo.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body class="{{ bodyClass }}">
<header class="header">
  <div class="container">
    {% include "../parts/header-top.njk" ignore missing %}
    <div class="header-contacts">
      <h1 class="header-contacts__title">
        Контакты
      </h1>
      <ul class="header-contacts__list">
        <li class="header-contacts__elem header-contacts__elem-instagram">
          <a class="header-contacts__elem-link" href="#">
            Instagram: @e1exchange.com.ua
          </a>
        </li>
        <li class="header-contacts__elem header-contacts__elem-telegram">
          <a class="header-contacts__elem-link" href="#">
            Telegram: @e1xchange
          </a>
        </li>
      </ul>
      <p class="header-contacts__question">
        Свяжитесь с нами в случае вопросов, или напишите в нашу поддержку!
      </p>
    </div>
  </div>
</header>
{% include "../parts/footer.njk" ignore missing %}
<script src="./assets/js/burger.js"></script>
</body>
</html>
