.footer {

  &-inner {
    padding: 49px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-partners {
    display: flex;
    align-items: center;

    &__img-mr {
      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
}

.footer-title{
  position: relative;
  color: $gray-100;
  @include inter-500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 26px;
  &::before{
    position: absolute;
    top: 8px;
    content: "";
    width: 30px;
    height: 1px;
    background-color: $gray-100;
    left: -43px;
  }
  &::after{
    position: absolute;
    top: 8px;
    content: "";
    width: 30px;
    height: 1px;
    background-color: $gray-100;
    right: -43px;
  }
}

.footer-copyrights {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #dadada;
  }
  &__text {
    @include inter-500;
    color: $gray-100;
    font-size: 16px;
    line-height: 19px;
  }
}
