//colors
$yellow-600: #EBFF00;
$white: #fff;
$gray-300: #4F4F4F;
$gray-100: #8C8C8C;
$darkText: #191919;
// mixin`s
@mixin inter-300 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

@mixin inter-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin inter-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin inter-600 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@mixin inter-700 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

@mixin btn-swaper($bgColor,$textColor){
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  padding: 18px 0;
  @include inter-500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: $bgColor;
  border: transparent;

  & > span {
    position: relative;
    z-index: 111;
    color: $textColor;
  }

  &::before {
    content: "";
    position: absolute;
    left: -25%;
    top: 0;
    width: 150%;
    height: 100%;
    background-color: $textColor;
    transform: translateX(-130%) skew(-15deg);
    transition: all .25s;
  }

  &:hover {
    &::before {
      transform: translateX(0) skew(0);
    }

    & > span {
      color: $white;
    }
  }

}
